/* source/css/style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* card */

.card {
    background-color: rgba(200, 200, 200, 0.1);
}

/* fonts */

body {
    font-family: 'Merriweather', 'LXGW WenKai Mono TC', monospace;
    font-weight: 400;
    font-size: 16px;
}

.index-cat-link {
    color: rgba(0, 0, 0, 0.45);
    font-weight: 700;
    text-decoration: none;
}

.read-more {
    text-align: right;
}

.read-more a {
    color: #000;
    text-decoration: none;
    transition: color 0.2s;
}

.read-more a:hover {
    color: #333;
}

.cat-link {
    font-weight: 700;
    text-decoration: none;
}

.tag-link {
    font-weight: 700;
    text-decoration: none;
}

header p {
    font-size: 1.2rem;
}

/* radius */

.top-radius {
    border-radius: 20px 20px 0 0;
}

.bottom-radius {
    border-radius: 0 0 20px 20px;
}

/* other */

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

footer p {
    font-size: 1.1rem;
    color: #fff;
}

footer p:hover {
    color: #ffcc00;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

/* nav */
nav a.nav-link {
    color: rgba(255, 255, 255, 0.7);
}

nav a.nav-link.active {
    font-weight: bold;
    color: #ffcc00;
}

nav a.nav-link:hover {
    color: rgba(255, 255, 255, 1);
}

/* image */

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0.5rem 0;
}

/* code block */

figure.highlight {
    background-color: #333;
    color: #d8dee9;
    border-radius: 5px;
    padding: 10px;
}

.code pre {
    margin-bottom: 0;
}

/* blockquote */
blockquote {
    padding: 10px;
    margin: 20px 0;
    border-left: 5px solid #ccc;
    background-color: rgba(0, 0, 0, 0.05);
    font-style: italic;
}

blockquote p {
    margin-bottom: 0;
}

/* hr */

hr {
    border-top: 1px solid #aaa;
}

/* ul li */

ul li {
    margin-bottom: 10px;
}

/* hamburger menu */

.navbar-toggler {
    margin-left: 20px;
}

.navbar-collapse {
    margin-left: 20px;
}

/* responsive */

@media (min-width: 768px) and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
}